.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
!.yarn/cache

.env
node_modules
dist

# Perpetuum worktrees
_perpetuum/worktrees

# Perpetuum
_perpetuum/state.json
_perpetuum/logs

